<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ .title }}</title>
  <meta name="description" content="Url Shortener">
  <meta name="author" content="Wojciech Warych">

</head>

<body>
    <form method="POST" action="/">
        <label for="longURL">URL:</label>
        <input type="text" id="longURL" name="longURL">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
